// ***************************
// Page setup / Sidebar
// ***************************

.off-canvas-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 106rem;
    margin: auto;

    .off-canvas-content {
    	margin-top: 2rem;

    	@media screen and (min-width: 106rem) {
			max-width: 75rem;
	    	margin: 2rem;
	    	float: right;
    	}
    }
}


// ***************************
// Global - Sections
// ***************************

.button { 
	background-color: $blue;
	padding: 1.5rem 2rem;

	@include animate(all);
	&:hover,
	&:focus { background-color: darken($blue, 15%); }
	}

section {
	padding: 50px;
	background-color: $white;
	box-shadow: $box-shadow;
	margin-bottom: 40px;
	position: relative;
	@include breakpoint(small only) { padding: 20px; }

	.section-title > i {
		color: $blue;
		margin-right: 10px;
	}
	
	h2.section-title {
		z-index: 2;
		position: relative;
		margin-bottom: 40px;

		@include breakpoint(small only) { margin-bottom: 20px; }
	}

	span.section-subtitle {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 50px;
		font-size: 90px;
		font-family: $raleway_extra_bold;
		text-transform: uppercase;
		color: $light-gray;

		@include breakpoint(small only) {
			font-size: 50px;
			top: 0;
			left: 10px;
			white-space: nowrap;
			overflow-x: hidden;
		}
	}

	p.section-description {
		color: $text-gray;
		margin-bottom: 2rem;
	}
}

// ***************************
// Hero section
// ***************************

.hero {
	
	@include verticle-align;

	&-intro,
	&-image {
		margin: 20px auto;
		
		.fa-stack {
			font-size: 2.5rem;
			position: absolute;
			left: 18%;
			top: 10%;
			z-index: 2;

			.circle { @include animate(color); }

			&:hover {
				animation: wiggle 0.2s ease;
				-webkit-animation: wiggle 0.2s ease;
				-moz-animation: wiggle 0.2s ease;
				.circle { color: #D04545; }
			}

			/* safari and chrome */
			@-webkit-keyframes wiggle {
				0% {-webkit-transform:rotate(10deg);}
				50% {-webkit-transform:rotate(-10deg);}
				100% {-webkit-transform:rotate(10deg);}
			}

			/* firefox */
			@-moz-keyframes wiggle {
				0% {-moz-transform:rotate(10deg);}
				50% {-moz-transform:rotate(-10deg);}
				100% {-moz-transform:rotate(10deg);}
			}

			/* standard */
			@keyframes wiggle {
				0% {transform:rotate(10deg);}
				50% {transform:rotate(-10deg);}
				100% {transform:rotate(10deg);}
			}

		}
		.circle { color: $red; }
		.icon { color: $white; }
	}

	&-intro {

		h1 {
			font-family: $raleway_black;
			font-size: 80px;
			line-height: .9;
		}
		h2 {
			font-family: $roboto_light;
			font-size: 46px;
			margin-bottom: 2rem;
		}

	}

	&-image {
		.img-wrap {
			margin: auto;
			display: block;
			overflow: hidden;
			max-width: 70%;
			border-radius: 50%;
			box-shadow: $box-shadow;
			img {
				@include animate(all);
				&:hover { transform: scale(1.1); }
			}
		}
		text-align: center;

		
	}
	
}

// ***************************
// About Me Section
// ***************************

.about-me {

	.about-boxes {

		.columns { margin-bottom: 2rem; }

		.about-box {
			@include aspect-ratio(1, 1);
			overflow: hidden;
			position: relative;
			box-shadow: $box-shadow;
			
			&-inner {
				max-width: 300px;
				padding: 10px;
				

				i.fa {
					font-size: 2.3rem;
					position: absolute;
					top: 20%;
					left: 20%;
				}

				.box-title {
					position: absolute;
					bottom: 20%;
					left: 20%;
					font-weight: bold;
					color: $black;
					z-index: 4;
					@include animate(all);
				}
			}

			&-popup {
				display: block;
				position: absolute;
				bottom: 0;
				height:2px;
				width: 100%;
				z-index: 3;
				@include animate(height);
			}

			&-popup-plus {
				display: block;
				position: absolute;
				top: 18%;
				right: -3rem;
				padding: 10px 16px;
				z-index: 3;
				color: $white;
				@include animate(right);
			}

			&:hover,
			&:focus {
				.about-box-popup-plus { right: 0rem; }
				.about-box-popup { height: 3rem; }
				.about-box-inner .box-title { bottom: .8rem; color: $white; }
			}
		}
	}

	.personal-details {
		border-bottom: 1px solid $medium-gray;
		overflow-x: auto;

		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0px;
			border-color: transparent;
			border-style: hidden;
			td {border-style: hidden;}
			thead tr:hover { background-color: transparent; }

			thead { background: transparent; }
		}
	}
}

// ***************************
// Skills Section
// ***************************

.skills {

	&-graphs {
		box-shadow: $box-shadow;
		padding: 30px;
		margin: 20px auto;

		p.skills-title { font-weight: bold; }

		.skill {
			padding: 20px 0;

			&-title {
				color: $text-gray;
			}
		}
		
		.graph {
			position: relative;

			.graph-title {
				display: inline-block;
				position: absolute;
				top: -8px;
				left: 0%;
				color: $blue;
				font-size: 80%;
				font-family: $roboto_bold;
				transition: 3s;
			}
			.graph-base {
				position: absolute;
				top: 12px;
				left: 0px;
				height: 3px;
				width: 100%;
				background-color: $medium-gray;
				display: inline-block;
				z-index: 1;
			}
			.graph-completion {
				content: "";
				display: inline-block;
				height: 3px;
				width: 0%;
				background-color: $blue;
				position: absolute;
				top: 12px;
				left: 0;
				z-index: 2;
				transition: 3s;
			}
		}
	}

	.donut-charts {
		padding-top: 50px;

		ul { margin: 0; padding-left: 20px; }

		.chart-nav {
			list-style-type: none;
			padding: 10px 20px;
			margin-bottom: 10px;
			border: 1px solid $blue;
			color: $blue;
			text-transform: uppercase;
			cursor: pointer;
			@include animate(all);

			&:hover,
			&:focus,
			&.active {
				border-color: $blue;
				background-color: $blue;
				color: $white;
			}
		}

		&-legend,
		.skills-chart {
			padding-bottom: 20px;
		}
		
		&-legend {
			display: none;
			@include animate(all);
			&.active { display: block }
		}
		&-legend {

			ul {
				li:nth-child(1) .fa{ color: $blue; }
		    	li:nth-child(2) .fa{ color: $yellow; }
		    	li:nth-child(3) .fa{ color: $red; }
		    	li:nth-child(4) .fa{ color: $green; }
		    	li:nth-child(5) .fa{ color: $purple; }
			}

			li {
			    list-style-type: none;
			    line-height: 2.1rem;

			    .fa {
			    	margin-right: 10px;
			    }
			}
		}

		svg {width: 90%; margin:0 auto; display:block;}

		.skills-chart circle{
			transition: all 1s cubic-bezier(.3,.8,.2,1);
			stroke:currentcolor;
			stroke-dasharray: 100, 100;
			stroke-width:5;
			fill:transparent;
			transform-origin: 50% 50%;
			transform: rotate(-90deg);
			
			&:nth-child(1){ color:$blue; }
			&:nth-child(2){ color:$yellow; }
			&:nth-child(3){ color:$red; }
			&:nth-child(4){ color:$green; }
			&:nth-child(5){ color:$purple; }
		}

	}
}

// ***************************
// Portfolio Section
// ***************************
.portfolio {

	&-items {

		.img-wrap {
			overflow: hidden;
			height: 250px;
			width: 100%;

			.img {
				overflow: hidden;
				height: 100%;
				background-size: cover;
				background-position-x: center;
				transform: scale(1);
				@include animate(transform);
				
				&:hover { transform: scale(1.2); }
			}
		}
	}
}


// ***************************
// Education Section
// ***************************

.education {

	.accordion {
		box-shadow: $box-shadow;

		&-item {

			.accordion-title {
				padding: 0;
				color: $black;

				i.fa { 
					border-right: 1px solid #e6e6e6;
					padding: 30px;
					font-size: 2rem;
				}

				h3 { 
					padding: 10px 40px;
					font-size: 1.2rem; display: inline-block; 
					font-family: $roboto_light;
					color: $black;
					@include breakpoint(small only) { padding-left: 10px; padding-right: 60px; }

					.bold-up { font-weight: bold; text-transform: uppercase; }
				}

				&:hover,
				&:focus {
					background-color: transparent;
				}

				&:before {
					content: "\f067";
					font-size: 1.4rem;
					font-family: fontAwesome;
					padding: 0 20px;
					@include animate(transform);
					transform: rotate(-180deg);
				}

			}

			.accordion-content {
				background-color: $light-gray;
				padding: 50px 60px;
				color: $text-gray;
			}

			&.is-active .accordion-title:before {
				content: "\f068";
				@include animate(transform);
				transform: rotate(0deg);
			}
		}

	}

}

// ***************************
// Work Experience Section
// ***************************

.work-experience {

	.history {
		box-shadow: $box-shadow;
		padding: 60px 40px;
		margin-bottom: 20px;
		@include breakpoint(small only) { padding: 40px 20px 40px 0; }

		&-scroll {
			padding: 0 30px;
			height: 800px;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				width: 2px;
				height: 100px;

				&-thumb {
					background-color: $blue;
				}

				&-track {
					width: 2px;
					background-color: #f0f0f0;
				}
			}
		}

		&-inner {
			border-left: 2px solid $medium-gray;
			padding: 10px 30px 0 30px;

			.experience-item {
				position: relative;
				margin-bottom: 50px;

				i.fa {
					position: absolute;
					left: -44px;
					top: -3px;
					font-size: 30px;
					color: $blue;
				}	

				&-title,
				&-dates,
				&-description { margin-bottom: 1.1rem; }

				&-title {
					font-size: 1.1rem;
					text-transform: uppercase;
				}
				&-dates {
					color: $blue;
					display: inline-block;
				}
				&-description {
					color: $text-gray;
				}
			}
		}
	}

	.awards {

		&-inner {
			box-shadow: $box-shadow;
			padding: 60px 40px;
			margin-bottom: 20px;
			@include breakpoint(small only) { padding: 40px 20px; }

			&>.row { border-bottom: 1px solid $medium-gray; }

			.heading {
				padding-bottom: 30px;
				margin-bottom: 20px;

				&-title {
					font-size: 1.1rem;
					text-transform: uppercase;

					i.fa {
						font-size: 3rem;
						color: $yellow;
						margin-right: 13px;
					}
				}
			}

			.award {
				margin-bottom: 20px;
				padding-bottom: 20px;

				&-title {
					font-size: 1.1rem;
					text-transform: uppercase;

					&-number {
						font-size: 50px;
						font-family: $roboto_bold;
						text-transform: uppercase;
						color: $medium-gray;
						padding-right: 10px;

					}
				}
				&-description {

				}
			}
		}
	}
}

// ***************************
// Contact Section
// ***************************

.contact {
	
	&-details {
		overflow-x: auto;

		&-box{ 
			padding: 20px 20px;
			margin: 20px;
			line-height: 2rem;
			@include animate(box-shadow);

			h4 { font-size: 1.2rem; }
			
			&:hover,
			&:focus { box-shadow: $box-shadow; }
		}
	}

	&-form {
		padding: 40px 30px;
		background-color: $blue;
		color: $white;
		
		h3 {
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		li,
		.gfield {
			padding: 20px 0;
			position: relative;

			label,
			.gfield_label {
				color: rgba(255,255,255,0.5);
				position: absolute;
			    top: 20px;
			    font-size: 1.1rem;
			    font-weight: 300;
			    @include animate(all);
				
				&:hover { cursor: text; }
			    .gfield_required { display: none; }
			}

			input,
			textarea {
				padding: 0;
				background-color: $blue;
				border: none;
				box-shadow: none;
				border-bottom: 2px solid rgba(255,255,255,0.5);
				color: $white;
				font-size: 1.1rem;
				
				&:hover { cursor: text; }
				&:focus {
					background-color: $blue;
					border: none;
					box-shadow: none;
					border-bottom: 2px solid $white;
				}
			}

			textarea { height: 150px; padding-top: 10px; }

			.active-input {
				top: 0;
		    	font-size: .8rem;
		    	color: $white;
			}

		}

		.button {
			background-color: $white;
			color: #333;
			font-size: 1.1rem;

			i.fa { 
				padding-right: 10px; 
			}
		}

		.gform_wrapper .validation_error { display: none; }

		.gform_wrapper li.gfield.gfield_error {
			margin: 0; 
			padding: 30px 0 !important;
			background-color: transparent;
			border: none;

			input { border: none; border-bottom: 2px solid $white; }
			.validation_message {  }
		}
	}
}





















