// ***************************
// Global - Sections
// ***************************

.in-view {
	background-color: yellow;
}

section {
	padding: 50px;
	background-color: $white;
	box-shadow: $box-shadow;
	margin-bottom: 40px;
	position: relative;

	i.fa {
		color: $blue;
		margin-right: 10px;
	}
	
	h2.section-title {
		z-index: 2;
		position: relative;
		margin-bottom: 40px;
	}

	span.section-subtitle {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 50px;
		font-size: 90px;
		font-family: $raleway_extra_bold;
		text-transform: uppercase;
		color: $light-gray;

		@include breakpoint (small only) {
			font-size: 50px;
			top: 27px;
		}
	}

	p.section-description {
		color: $text-gray;
		margin-bottom: 2rem;
	}
}

// ***************************
// Hero section
// ***************************

.hero {
	
	@include verticle-align;

	&-intro,
	&-image {
		margin: 20px auto;
	}

	&-intro {

		h1 {
			font-family: $raleway_black;
			font-size: 80px;
			line-height: .9;
		}
		h2 {
			font-family: $roboto_light;
			font-size: 46px;
			margin-bottom: 2rem;
		}

	}

	&-image {
		text-align: center;

		img {
			max-width: 70%;
			border-radius: 50%;
			box-shadow: $box-shadow;
		}
	}
	
}

// ***************************
// About Me Section
// ***************************

.about-me {

	.about-boxes {

		.columns { margin-bottom: 2rem; }

		.about-box {
			@include aspect-ratio(1, 1);

			position: relative;
			
			&-inner {
				max-width: 300px;
				padding: 10px;
				box-shadow: $box-shadow;

				i.fa {
					font-size: 2.3rem;
				    position: absolute;
				    top: 20%;
				    left: 20%;
				}

				.box-title {
					position: absolute;
				    bottom: 20%;
				    left: 20%;
				    font-weight: bold;
				    color: $black;
				    z-index: 4;
				    @include animate(bottom);
				}
			}

			&-popup {
				display: block;
				position: absolute;
				bottom: 0;
				height:2px;
				width: 100%;
				z-index: 3;
				@include animate(height);
			}

			&:hover,
			&:focus {
				.about-box-popup { height: 3rem; }
				.about-box-inner .box-title { bottom: .8rem; }
			}
		}
	}

	.personal-details {
		border-bottom: 1px solid $medium-gray;
		overflow-x: auto;

		table {
			width: 100%;
			border-collapse: collapse;
		    border-spacing: 0px;
		    border-color: transparent;
		    border-style: hidden;
		    td {border-style: hidden;}
		    thead tr:hover { background-color: transparent; }

			thead { background: transparent; }
		}
	}
}

// ***************************
// Skills Section
// ***************************

.skills {

	&-tags {

		ul {
			display: inline-block;

			li {
				display: inline;
				padding: 10px;
				list-style-type: none;
				font-family: $roboto_italic;
				font-weight: bold;
				font-size: 90%;
				@include animate(all);

				&:hover,
				&:focus {
					box-shadow: $box-shadow;
					color: $blue;
				}

				&:before {
					content: "#";
					display: inline-block;
					position: relative;
				}
			}
		}
	}

	&-graphs {
		box-shadow: $box-shadow;
		padding: 30px;
		margin: 20px auto;

		p.skills-title { font-weight: bold; }

		.skill {
			padding: 20px 0;

			&-title {
				color: $text-gray;
			}
		}
		
		.graph {
			position: relative;

			.graph-title {
		    	display: inline-block;
		    	position: absolute;
		    	top: -8px;
		    	left: 0%;
		    	color: $blue;
		    	font-size: 80%;
		    	font-family: $roboto_bold;
		    	transition: 3s;
		    }
			.graph-base {
				position: absolute;
				top: 12px;
		    	left: 0px;
			    height: 3px;
			    width: 100%;
			    background-color: $medium-gray;
			    display: inline-block;
			    z-index: 1;
			}
			.graph-completion {
		    	content: "";
		    	display: inline-block;
		    	height: 3px;
		    	width: 0%;
		    	background-color: $blue;
		    	position: absolute;
			    top: 12px;
			    left: 0;
			    z-index: 2;
			    transition: 3s;
		    }
		}
		
	}
}




