.top-bar{
	background-color: $white;
	box-shadow: $box-shadow;
	padding: 0;

	&-left { display: none; }
	&-right { float: left; }

	ul {
		background-color: $white;
		margin: 0 40px;
	}

	.menu {
		
		li {
			background-color: $white;
			@include animate(background-color);

			a {
				color: $blue;
				padding: 40px 20px;
			}

			&:hover, 
			&:focus {
				background-color: $light-gray;
			}

		}
		
		.active>a {
			background-color: $blue;
			color: $white;
			transform: scale(1.2);
			padding: 40px 15px;
			margin: 0 10px;
		}

	}
}